<div id="fullCalendar"></div>
<div class="container">
  <p>Legend</p>
  <div class="row">
    <% @designers.each do |designer| %>
      <div class="col-md-6"><%= designer %></div>
      <div class="col-md-6"><%= designer %></div>
    <% end %>
  </div>
</div>

<script>
	$(function(){
    // Default options for fullCalendar goes here
    default_options = {
      lang: 'fr',
      header: {
        left: 'title',
        center: '',
        right: 'prev,today,next month,basicWeek,basicDay'
      },
      eventRender: function( event, element, view ){
        element.qtip({
          content: event.tooltip,
          style: {
            classes: 'qtip-shadow'
          }
        });
      },
      events: <%= events.to_json.html_safe %>
    };

    $('div#fullCalendar').fullCalendar($.extend(default_options, <%=options%>));
  });
</script>
